body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.filter-btn {
  padding: 8px 16px;
  border: none;
  background: #ddd;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

.filter-btn.active {
  background: black;
  color: white;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 30px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background: #777;
  cursor: not-allowed;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

/* Fix cart image zoom issue */
#cartItems .product img {
  height: 140px;
  object-fit: contain;
  background: #fff;
}
.qty-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.qty-controls button {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
}
.payment-option {
  display: flex;
  align-items: center;
  justify-content: center;   /* spacing between radio and text */
  margin-bottom: 10px 0;
}
 

